/* Universal app stylesheet */


/* ---------- */
/* Typography */
/* ---------- */

h1 {
    font-family: 'Roboto', sans-serif;
    color: #2E415F;
    font-weight: 400;
    font-size: 3em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #2E415F;
    font-weight: 500;
    font-size: 2em;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #727b8a;
    font-size: 1em;
    font-weight: 300;
}

h4 {
    font-family: "Merriweather", sans-serif;
    color: #4f5b70;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-family: 'Merriweather', serif;
    color: #5f656e;
}


/* ----------------- */
/* Buttons and input */
/* ----------------- */

button {
    background-color: #deeaff;
    border-radius: 3px;
    border: #deeaff 0.5px solid;
    color: #758eba;
    padding: 6.25px 10px;
    font-size: 0.75em;
}

button:hover {
    border: #758eba 0.5px solid;
    background-color: white;
    color: #758eba;
    cursor: pointer;
}

.circle-btn {
    border-radius: 100px;
    padding: 5px;
    font-size: 1em;
    width: 2.8rem;
    height: 2.6rem;
    /* margin-left: 20px; */
    bottom: 20px;
    position:absolute;
}

.text-input {
    margin-right: 1rem;
    padding: 6px 10px;
    font-size: 0.75em;
    width: 14rem;
}


/* ---------- */
/* Formatting */
/* ---------- */

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ------------------- */
/* Specific components */
/* ------------------- */

.url-form {
    margin-top: 3rem;
}

.welcome-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.sidebar-container {
    padding: 15px;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.arrows {
    font-size: 0.6em;
    position: relative;
    bottom: 3px;
    margin-left: 5px;
}

.link-group {
    margin-top: 5px;
}


/* --------------- */
/* Page formatting */
/* --------------- */
   
/* Ref: https://github.com/electron/electron/issues/3009 */
.top-titlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: -100;
  }
